@import "mixins";

.about_section {
    width: 100%;
    padding: 0 var(--active-margin-grid);
}

.about_title {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;

    &__subtitle {
        top: calc(25% - 120px);
    }
}

.about_process {

    &__item {
        padding: 80px 0;
        border-bottom: 1px solid var(--neutral-secondary);
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr;

        @include tablet-screen() {
            grid-template-columns: 1fr;
        }

        &__title {
            font-size: 2.4rem;
            color: var(--light-primary);
            text-transform: uppercase;
        }
    }
}