@import "mixins";

.about_section {
    width: 100%;
    padding: 0 var(--active-margin-grid);
}

.about_title {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.about_description {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 48px;

    @include small-screen() {
        flex-flow: column nowrap;
        gap: 32px;
    }

    @include mobile-screen() {
        gap: 16px;
    }

    &__heading {
        // max-width: calc(var(--col) * 4);
    }

    &__icon,
    &__text {
        margin-top: 40px;

        @include small-screen() {
            margin-top: 32px;
        }

        @include mobile-screen() {
            margin-top: 24px;
        }
    }

    &__list {
        margin-top: 240px;
        margin-right: var(--col-1);

        @include small-screen() {
            margin: 0;
        }
    }

    &__item {
        padding: 64px 0;
        border-bottom: 1px solid var(--neutral-secondary);
        display: grid;
        gap: 24px;
        grid-template-columns: var(--col-2) 1fr;

        @include small-screen() {
            grid-template-columns: var(--col-4) 1fr;
        }

        @include tablet-screen() {
            grid-template-columns: 1fr;
        }

        @include mobile-screen() {
            padding: 40px 0;
        }

        &__title {
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 24px;
            color: var(--light-primary);
            text-transform: uppercase;
        }
    }
}

.about_illustration {
    margin-top: 160px;
    position: relative;

    @include small-screen() {
        margin-top: 80px;
    }

    @include mobile-screen() {
        margin-top: 64px;
    }

    &__canvas_1,
    &__canvas_2 {
        height: 600px;
        float: right;
        margin-bottom: 144px;

        @include small-screen() {
            height: 400px;
            margin-bottom: 64px;
        }

        @include tablet-screen() {
            height: 320px;
            margin-bottom: 64px;
        }

        @include mobile-screen() {
            margin-bottom: 48px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__canvas_2 {
        margin-left: var(--col-1);
        margin-top: 164px;
        float: left;

        @include small-screen() {
            margin-top: 80px;
            margin-left: 0;
        }

        @include mobile-screen() {
            margin-top: 64px;
        }
    }

    &__text_1,
    &__text_2 {
        max-width: var(--col-4);
        margin-left: var(--col-1);

        @include small-screen() {
            max-width: none;
            margin-left: 0;
        }

        h3 {
            font-family: 'Inter';
            font-weight: 600;
            font-size: 3.2rem;
            color: var(--light-primary);
            text-transform: uppercase;
            margin-bottom: 48px;

            @include small-screen() {
                margin-bottom: 32px;
            }

            @include mobile-screen() {
                font-size: 2.4rem;
                margin-bottom: 24px;
            }
        }
    }

    &__text_2 {
        float: right;
        text-align: right;
        margin-right: var(--col-1);
        margin-bottom: 164px;

        @include small-screen() {
            text-align: left;
            margin-right: 0;
            margin-bottom: 80px;
        }

        @include mobile-screen() {
            margin-bottom: 64px;
        }
    }
}