.about_section {
    width: 100%;
}

.about_title {
    width: var(--vw);
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.about_description {
    width: var(--vw);
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .about_heading {
        max-width: calc(var(--col) * 4);
    }

    &__text {
        margin-top: 40px;
    }

    &__list {
        max-width: calc(var(--col) * 4);
        margin-top: 240px;
        margin-right: calc(var(--col) - 32px);
    }

    &__item {
        padding: 64px 0;
        border-bottom: 1px solid var(--neutral-secondary);
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(2, minmax(calc(50% - 32px) ,1fr));

        &__title {
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 24px;
            color: var(--light-primary);
            text-transform: uppercase;
        }
    }
}

.about_illustration {
    width: var(--vw);
    margin: auto;
    margin-top: 160px;
    position: relative;

    &__canvas_1, &__canvas_2 {
        width: calc(var(--col) * 7);
        height: 600px;
        float: right;
        margin-bottom: 144px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__canvas_2 {
        margin-left: var(--col);
        margin-top: 164px;
        float: left;
    }

    &__text_1, &__text_2 {
        max-width: calc(var(--col) * 4);
        margin-left: var(--col);

        h3 {
            font-family: 'Inter';
            font-weight: 600;
            font-size: 3.2rem;
            color: var(--light-primary);
            text-transform: uppercase;
            margin-bottom: 48px;
        }
    }

    &__text_2 {
        float: right;
        text-align: right;
        margin-right: var(--col);
        margin-bottom: 164px;
    }
}

.about_text {
    width: calc(var(--col) * 4);
    margin-left: calc(var(--col) * 3 + var(--active-margin-grid));
    margin-top: 120px;
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    gap: 32px;

    &__container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        flex: 1;
        min-width: 0;
    }

    &__text_1 {
        width: calc(var(--col) * 2);
    }

    &__text_2 {
        width: calc(var(--col) * 2);
    }
}