@import "mixins";

.contact_section {
    width: 100%;
    padding: 0 var(--active-margin-grid);
    position: relative;
}

.contact_title {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;

    &__subtitle {
        top: calc(50% - 120px);
    }
}

.contact_social {
    position: absolute;
    bottom: 48px;
    display: flex;
    gap: 64px;

    @include tablet-screen() {
        gap: 40px;
    }

    @include mobile-screen() {
        gap: 32px;
    }

    li {
        font-family: 'Euclid Square';
        font-weight: 400;
        font-size: 1.6rem;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        list-style-type: none;
        color: var(--col-white);
    }
}