
.footer_section {
    width: var(--vw);
    margin: auto;
    padding: 48px 0 56px;
    border-top: 1px solid var(--neutral-secondary);

    ul {
        display: flex;
        gap: 64px;

        li {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 2.4rem;
            text-transform: uppercase;
            list-style-type: none;
            color: var(--light-primary);
        }
    }
}