
.footer_section {
    background: var(--black-19);
    padding-bottom: 48px;

    ul {
        margin-left: var(--active-margin-grid);
        display: flex;
        gap: 40px;

        li {
            font-size: 1.6rem;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            list-style-type: none;
        }
    }
}