
.footer_section {
    padding: 0 var(--active-margin-grid) 40px;

    .footer_border {
        width: 100%;
        border-top: 1px solid var(--neutral-secondary);
        padding-top: 40px;
    }

    ul {
        display: flex;
        gap: 64px;

        li {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 2.4rem;
            text-transform: uppercase;
            list-style-type: none;
            color: var(--light-primary);
        }
    }
}