@import "mixins";

:root {
  --col-background: #171719;
  // --col-background: #FDF6E3;

  --col-accentuation: #C19A5B;
  --col-white: #fff;
  --col-neutral-primary: #5C5C5E;

  --col-secondary: #212123;
  // --col-secondary: rgba(193, 154, 91, 10);


  --col-text: #C6C6C6;
  // --col-text: #2E2E30;

  --active-margin-grid: 48px;

  // @include small-screen() {
  //   --active-margin-grid: 32px;
  // }

  // @include tablet-screen() {
  //   --active-margin-grid: 24px;
  // }

  // @include mobile-screen() {
  //   --active-margin-grid: 16px;
  // }

  --vw: calc(100vw - var(--active-margin-grid) * 2);
  --vh: 100vh;
  --col-1: 8vw;
  --col-2: 16vw;
  --col-3: 24vw;
  --col-4: 32vw;
  --col-5: 40vw;
  --col-6: 48vw;
  --col-7: 56vw;
  --col-8: 64vw;

  --custom-ease-in: cubic-bezier(.56, .23, .52, 1);
  --custom-ease-out: cubic-bezier(.24, .74, .24, .99);
  --x: 46%;
  --y: 12%;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@font-face {
  font-family: "Euclid Square";
  font-weight: 700;
  font-style: normal;
  src: url("../public/fonts/EuclidSquare-Bold.otf");
}

@font-face {
  font-family: "Euclid Square";
  font-weight: 700;
  font-style: italic;
  src: url("../public/fonts/EuclidSquare-BoldItalic.otf");
}

@font-face {
  font-family: "Euclid Square";
  font-weight: 600;
  font-style: normal;
  src: url("../public/fonts/EuclidSquare-Semibold.otf");
}

@font-face {
  font-family: "Euclid Square";
  font-weight: 600;
  font-style: italic;
  src: url("../public/fonts/EuclidSquare-SemiboldItalic.otf");
}

@font-face {
  font-family: "Euclid Square";
  font-weight: 500;
  font-style: normal;
  src: url("../public/fonts/EuclidSquare-Medium.otf");
}

@font-face {
  font-family: "Euclid Square";
  font-weight: 500;
  font-style: italic;
  src: url("../public/fonts/EuclidSquare-MediumItalic.otf");
}

@font-face {
  font-family: "Euclid Square";
  font-weight: 400;
  font-style: normal;
  src: url("../public/fonts/EuclidSquare-Regular.otf");
}

@font-face {
  font-family: "Euclid Square";
  font-weight: 400;
  font-style: italic;
  src: url("../public/fonts/EuclidSquare-RegularItalic.otf");
}

@font-face {
  font-family: "Euclid Square";
  font-weight: 300;
  font-style: normal;
  src: url("../public/fonts/EuclidSquare-Light.otf");
}

@font-face {
  font-family: "Euclid Square";
  font-weight: 300;
  font-style: italic;
  src: url("../public/fonts/EuclidSquare-LightItalic.otf");
}

@font-face {
  font-family: "SangBleu Empire";
  font-weight: 400;
  font-style: normal;
  src: url("../public/fonts/SangBleuEmpire-Regular.otf");
}

@font-face {
  font-family: "SangBleu Empire";
  font-weight: 500;
  font-style: normal;
  src: url("../public/fonts/SangBleuEmpire-Medium.otf");
}

@font-face {
  font-family: "SangBleu Empire";
  font-weight: 700;
  font-style: normal;
  src: url("../public/fonts/SangBleuEmpire-Bold.otf");
}

/* =============================== */
/* ========== MAIN CODE ========== */
/* =============================== */

html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  /* 1 rem = 10px */
  scroll-behavior: smooth;
  background: var(--col-background);
  font-family: 'Euclid Square', Roboto, sans-serif;
  // overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  // cursor: none;

  &::selection {
    background: var(--col-neutral-primary);
  }

  img {
    max-width: 100%;
  }
}

p {
  font-family: 'Euclid Square';
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: var(--col-text);
}

a {
  color: inherit;
  text-decoration: none;
}

.title-primary,
.title-secondary {
  font-family: 'SangBleu Empire', sans-serif;
  font-weight: 400;
  font-size: 6.4vw;
  line-height: 8vw;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--col-white);
  z-index: 1;
}

.title-secondary {
  margin: 0;
  font-size: 8rem;
  line-height: normal;
  float: left;
}

h3.subtitle {
  font-family: 'Euclid Square', sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 40px;
  color: var(--col-text);
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.side-subtitle {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--col-accentuation);
  position: absolute;
}

.bg-title {
  font-family: 'Euclid Square';
  font-style: italic;
  font-weight: 700;
  font-size: 26vw;
  line-height: 26vw;
  color: var(--col-secondary);
  text-transform: uppercase;
  letter-spacing: -0.02em;
  z-index: 0;
  pointer-events: none !important;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, 0);
}

.colored {
  color: var(--col-accentuation);
}

.white {
  color: var(--col-white);
}

.line-left {
  width: var(--col-1);
  height: 1px;
  margin-right: 32px;
  background: var(--col-white);
  float: left;
  margin-top: 64px;
}

.border-top {
  width: 100%;
  border-top: 1px solid var(--col-neutral-primary);
  padding-top: 120px;

  @include large-screen() {
    padding-top: 80px;
  }

  @include tablet-screen() {
    padding-top: 64px;
  }

  @include mobile-screen() {
    padding-top: 48px;
  }
}

.is-sticky {
  position: sticky;
  top: 12vh;
  z-index: 100;

  @include small-screen() {
    position: static;
  }
}

.arrow-icon,
.arrow-icon-45deg {
  font-size: 12rem;
  font-size: clamp(4rem, 6vw, 8rem);
  color: var(--col-white);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.arrow-icon-45deg {
  transform: rotate(-45deg);
}

.arrow-button {
  width: clamp(80px, 10vw, 160px);
  height: clamp(80px, 10vw, 160px);
  border-radius: 50%;
  font-size: clamp(2.4rem, 2.4vw, 4rem);
  color: var(--col-white);
  background: var(--col-neutral-primary);
  position: absolute;
  right: var(--col-2);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .6s var(--custom-ease-out);
  margin-top: 0px;

  @include tablet-screen() {
    right: var(--col-1);
  }

  &::before {
    content: "";
    position: absolute;
    transform: scale(0);
    width: clamp(80px, 10vw, 160px);
    height: clamp(80px, 10vw, 160px);
    border-radius: 50%;
    background-color: var(--col-white);
    z-index: -1;
    transition: all .6s var(--custom-ease-out);
  }

  &:hover::before {
    transform: scale(1);
  }

  &:hover {
    color: var(--col-background);
  }
}

/* ========== CURSOR ========== */

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--neutral-primary);
  z-index: 10000;
  pointer-events: none;

  @include tablet-screen() {
    display: none;
  }
}

.follower {
  position: fixed;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  z-index: 9999;
  background: var(--neutral-secondary);
  opacity: .7 !important;
  pointer-events: none;

  @include tablet-screen() {
    display: none;
  }
}

.clearfix {
  display: block;
  content: "";
  clear: both;
}

.mt-200 {
  margin-top: 200px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mt-120 {
  margin-top: 120px;
}

.mb-120 {
  margin-bottom: 120px;
}

.ml-1 {
  margin-left: var(--col-1);
}

.ml-2 {
  margin-left: var(--col-2);
}

.ml-3 {
  margin-left: var(--col-3);
}

.ml-4 {
  margin-left: var(--col-4);
}

.ml-5 {
  margin-left: var(--col-5);
}

.ml-6 {
  margin-left: var(--col-6);
}

.ml-7 {
  margin-left: var(--col-7);
}

.col-1 {
  width: var(--col-1);
}

.col-2 {
  width: var(--col-2);
}

.col-3 {
  width: var(--col-3);
}

.col-4 {
  width: var(--col-4);

  @include large-screen() {
    width: var(--col-7);
  }

  @include small-screen() {
    width: 100%;
  }
}

.col-5 {
  width: var(--col-5);

  @include large-screen() {
    width: var(--col-7);
  }

  @include small-screen() {
    width: 100%;
  }
}

.col-6 {
  width: var(--col-6);

  @include small-screen() {
    width: 100%;
  }
}

.col-7 {
  width: var(--col-7);

  @include small-screen() {
    width: 100%;
  }
}

.col-8 {
  width: var(--col-8);

  @include small-screen() {
    width: 100%;
  }
}