:root {
  --dark-primary: #171719;
  --dark-secondary: #262628;
  --neutral-primary: #979B99;
  // --neutral-primary: #C19A5B;
  --neutral-secondary: #5C5C5E;
  --light-primary: #fff;
  --text-light: #767676;
  --desktop-margin-grid: 64px;
  --tablet-margin-grid: 32px;
  --mobile-margin-grid: 16px;
  --active-margin-grid: calc(var(--desktop-margin-grid));
  --vw: calc(100vw - var(--active-margin-grid) * 2);
  --vh: 100vh;
  --col: calc(var(--vw) / 12);
  --custom-ease-in: cubic-bezier(.56, .23, .52, 1);
  --custom-ease-out: cubic-bezier(.24, .74, .24, .99);
  --x: 46%;
  --y: 12%;
}

@font-face {
  font-family: "Futura PT";
  src: url("/styles/fonts/Futura PT/FuturaPTLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("/styles/fonts/Futura PT/FuturaPTBook.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("/styles/fonts/Futura PT/FuturaPTMedium.otf") format("opentype");
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("/styles/fonts/Futura PT/FuturaPTDemi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("/styles/fonts/Futura PT/FuturaPTHeavy.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:wght@400;500;600;700&display=swap');

/* ============================ */
/* ========== MIXINS ========== */
/* ============================ */

// media queries mixins
$breakpoints: (mobile: 500px,
  tablet: 767px,
  small-screen: 1079,
);

@mixin mobile-screen {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}

@mixin tablet-screen {
  @media screen and (max-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin small-screen {
  @media screen and (max-width: map-get($breakpoints, small-screen)) {
    @content;
  }
}

/* =============================== */
/* ========== MAIN CODE ========== */
/* =============================== */

html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  /* 1 rem = 10px */
  scroll-behavior: smooth;
  background: var(--dark-primary);
  font-family: 'Inter', Roboto, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;

  &::selection {
    background: var(--neutral-secondary);
  }

  img {
    max-width: 100%;
  }
}

h3>.subtitle {
  font-family: 'Poppins';
  font-size: 4.8rem;
  font-weight: 600;
  color: var(--light-primary);
  text-transform: uppercase;
}

h3>.italic-subtitle {
  font-family: 'Playfair Display';
  font-style: italic;
  font-size: 4.8rem;
  color: var(--light-primary);
  font-weight: 400;
}

p {
  font-size: 1.8rem;
  line-height: 28px;
  color: var(--text-light);
}

a {
  color: inherit;
  text-decoration: none;
}

.italic {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: normal;
}

.title-colored {
  color: var(--neutral-primary);
}

.white {
  color: var(--light-primary);
}

.title,
.bg-title {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14.4rem;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: var(--light-primary);
  z-index: 1;
}

.border-top {
  width: var(--vw);
  margin: auto;
  border-top: 1px solid var(--neutral-secondary);
  padding-top: 80px;
}

.side-grid-layout {
  display: flex;
  flex-flow: row nowrap;
  gap: 32px;
}

.side-title {
  font-size: 1.6rem;
  color: var(--light-primary);
  width: calc(var(--col) * 2 - 32px);
}

.bg-title {
  width: var(--vw);
  font-size: 40rem;
  color: var(--dark-secondary);
  text-transform: uppercase;
  margin: -160px 0 24px;
  z-index: 0;
  pointer-events: none !important;
  position: relative;
}

.arrow-button {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  font-size: 4rem;
  color: var(--light-primary);
  background: var(--neutral-secondary);
  position: absolute;
  right: calc(var(--col) * 2 + 80px);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .6s var(--custom-ease-out);

  &::before {
    content: "";
    position: absolute;
    transform: scale(0);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: var(--light-primary);
    z-index: -1;
    transition: all .6s var(--custom-ease-out);
  }

  &:hover::before {
    transform: scale(1);
  }

  &:hover {
    color: var(--dark-primary);
  }
}

.clearfix {
  display: block;
  content: "";
  clear: both;
}