@import "mixins";

.hero_section {
    width: 100%;
    padding: 0 var(--active-margin-grid);
}

.hero_title__container {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.hero_subtitle {
    top: calc(50% - 120px);
}

.last_updated {
    position: absolute;
    bottom: 48px;
}

.hero_content {
    position: relative;

    &__canvas {
        margin: auto;

        @include tablet-screen() {
            max-height: 400px;
        }

        @include tablet-screen() {
            max-height: 320px;
        }

        img {
            width: 100%;
            max-width: none;
            height: auto;
            object-fit: cover;

            @include tablet-screen() {
                max-height: 400px;
            }

            @include tablet-screen() {
                max-height: 320px;
            }
        }
    }

    &__circle {
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
        border: 1px solid var(--col-accentuation);
        font-size: clamp(2.4rem, 2.4vw, 4rem);
        color: var(--col-white);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}