.hero_section {
    width: 100%;
}

.hero_title__container {
    width: var(--vw);
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: calc(var(--vh) * 0.5 - (16rem)) 0 0;
}

.hero_description {
    width: calc(var(--col) * 4);
}

.hero_image {
    margin: 94px auto 0;
    position: relative;

    &__canvas {
        width: calc(var(--col) * 7);

        img {
            width: 100%;
            max-width: none;
            height: auto;
            object-fit: cover;
        }
    }
}

.hero_button {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: var(--grey-1);
    position: absolute;
    top: 60%;
    right: calc(var(--col) * 2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}