@import "mixins";

.hero_section {
    width: 100%;
    padding: 0 var(--active-margin-grid);
}

.hero_title__container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: clamp(240px, 16%, 400px);
}

.hero_image {
    margin-top: 94px;
    position: relative;
    display: flex;
    align-items: flex-start;

    @include small-screen() {
        margin-top: 64px;
    }

    @include mobile-screen() {
        margin-top: 48px;
    }

    &__canvas {
        @include tablet-screen() {
            max-height: 400px;
        }

        @include tablet-screen() {
            max-height: 320px;
        }

        img {
            width: 100%;
            max-width: none;
            height: auto;
            object-fit: cover;

            @include tablet-screen() {
                max-height: 400px;
            }

            @include tablet-screen() {
                max-height: 320px;
            }
        }
    }

    &__icon {
        margin-left: var(--col-1);

        @include small-screen() {
            display: none;
        }
    }
}