@import "mixins";

.menu {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: transparent;
    color: var(--col-white);
    font-family: 'Euclid Square';
    font-weight: 400;
    font-size: 1.6rem;
    padding: 48px var(--active-margin-grid) 32px;
    transition: all 0.3s var(--custom-ease-in);

    @include small-screen() {
        padding-top: 32px;
    }

    @include tablet-screen() {
        padding-top: 24px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        @include small-screen() {
            padding-bottom: 24px;
        }

        @include mobile-screen() {
            padding-bottom: 16px;
        }
    }

    ul {
        display: flex;
        gap: 64px;

        @include tablet-screen() {
            display: none;
        }

        li {
            text-transform: uppercase;
            list-style-type: none;
        }
    }
}