.menu {
    width: 100%;
    letter-spacing: 0.08em;
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 48px var(--active-margin-grid);
    background: var(--black-19);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    transition: all 0.3s ease;

    ul {
        display: flex;
        gap: 80px;

        li {
            list-style-type: none;
        }
    }
}