.menu {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: var(--dark-primary);
    color: var(--light-primary);
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 2.4rem;
    transition: all 0.3s ease;

    &__inner {
        width: var(--vw);
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 48px 0 32px;
        border-bottom: 1px solid var(--neutral-secondary);
    }

    ul {
        display: flex;
        gap: 64px;

        li {
            text-transform: uppercase;
            list-style-type: none;
        }
    }
}