.text_separator_section {
    width: 100%;
    margin-top: 200px;

    .text_separator__container {
        overflow: hidden;

        .text_separator__scroll_1 {
            animation: scrollTextLeft 20s linear infinite;
        }

        .text_separator__scroll_2 {
            animation: scrollTextRight 20s linear infinite;
        }

        & > span {
            white-space: nowrap;
            display: inline-block;
        }
    }
}

@keyframes scrollTextLeft {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-2432px, 0, 0);
    }
}

@keyframes scrollTextRight {
    0% {
        transform: translate3d(-2432px, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);

    }
}