.works_section {
    width: var(--vw);
    padding: 240px 0 80px;
    margin: auto;
    position: relative;

    h2 {    
        margin-left: calc(var(--col) * 5);
    }

    svg {
        position: absolute;
        top: 280px;
        right: calc(var(--col) * 1.5);
    }
}

.works_circle {
    width: calc(var(--col) * 4);
    height: 0;
    padding: calc(var(--col) * 4 / 2);
    border-radius: 50%;
    border: 2px solid var(--gold-pure);
    position: absolute;
    top: 568px;
    left: var(--col);
    display: flex;
    justify-content: center;
    align-items: center;

    &__inner {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        & > h3 {
            font-weight: 400;
            font-size: 8rem;
            color: var(--gold-pure);
            margin-bottom: 16px;
            display: block;
        }

        & > p { 
            text-transform: uppercase;
            display: block;
            white-space: nowrap;
        }
    }
}

.works_timeline {
    width: calc(var(--col) * 5 - 32px);
    float: right;
    margin-top: 320px;
    margin-bottom: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column nowrap;
    position: relative;

    &__date {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 16px;

        p {
            display: block;
        }
    }

    &__line {
        width: 100%;
        height: 4px;
        background: var(--grey-40);
        position: relative;

        &_inner {
            width: 70%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: var(--gold-pure);
        }
    }
}