.works_carousel_section {
    width: 100%;
    margin-top: 280px;
}

.works_carousel__items {
    width: 100%;
    display: flex;
    flex-flow: column;

    &__canvas {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }



    &__title, h3 {
        font-family: "Poppins";
        font-size: 4.8rem;
        font-weight: 600;
        letter-spacing: -0, 04em;
        color: var(--primary);
        margin-top: 40px;
        text-transform: uppercase;
    }

    // &__date {
    //     font-size: 2.8rem;
    //     font-weight: 700;
    //     color: var(--grey-40);
    // }

    // &__description {
    //     margin-top: 8px;
    // }
}