@import "mixins";

.works_section {
    width: 100%;
    padding: 0 var(--active-margin-grid);
}

.works_title {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;

    &__subtitle {
        top: calc(25% - 120px);
    }
}

.works_content {
    display: grid;
    grid-template-columns: var(--col-2) 1fr;

    &__icon {
        margin-top: 40px;

        @include small-screen() {
            display: none;
        }
    }
}

.works_grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    position: relative;

    @include small-screen() {
        margin-top: 40px;
    }

    @include tablet-screen() {
        grid-template-columns: repeat(1, 1fr);
    }

    &__item {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;

        &:hover img {
            transform: scale(1.1);
            transition: all .8s var(--custom-ease-out);
        }

        &__canvas {
            width: 100%;
            height: 600px;
            overflow: hidden;

            @include large-screen() {
                height: 440px;
            }

            @include small-screen() {
                height: 400px;
            }

            @include tablet-screen() {
                height: 360px;
            }

            @include mobile-screen() {
                height: 320px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .8s var(--custom-ease-out);
            }
        }

        &__title {
            font-family: 'Euclid Square';
            font-weight: 500;
            font-size: 2.4rem;
            color: var(--col-white);
            margin-top: 40px;

            @include small-screen() {
                margin-top: 24px;
            }
        }

        &__description {
            font-family: 'Euclid Square';
            font-weight: 500;
            font-size: 1.6rem;
            color: var(--col-neutral-primary);
            margin: 8px 0 48px;
            position: relative;
            padding-left: 20px;

            @include small-screen() {
                margin: 8px 0 16px;
            }

            &::before {
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: var(--col-neutral-primary);
                position: absolute;
                left: 0;
                top: 5px;
            }
        }
    }
}